body {
  color: white;
  font-family: 'Poppins', sans-serif;
}

.quiz-card {
  border-radius: 16px;
  padding: 30px;
  position: relative;
  margin: 0 auto;
  z-index: 5;
}

.quiz-card .bee {
  width: 100px;
  height: auto;
}

.opcao {
  background-color: var(--bg-card);
  padding: 12px 16px;
  border-radius: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.opcao:hover {
  background-color: #4b3c66;
}

.opcao img {
  width: 24px;
  margin-right: 12px;
}

.quiz p {
  font-size: 20px;
}

@media (max-width: 768px) {
  .quiz-card {
    padding: 20px;
  }

  .quiz-card .bee {
    width: 40px;
  }
}

.result-highlight {
  animation: pulseResult 1s ease-in-out infinite;
}

@keyframes pulseResult {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.quiz-wrapper {
  position: relative;
  display: inline-block;
}

.opcao {
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 10px;
  transition: border 0.2s ease;
}

.opcao-selecionada {
  border: 2px solid #facc15;
  background-color: rgba(250, 204, 21, 0.1);
}

.quiz {
  border: #facc15 1px solid;
  border-radius: 30px;
}

.link-pular-quiz {
  margin-top: 15px;
  text-align: center;
  color: #facc15;
  font-weight: 500;
  text-decoration: none;
}

.link-pular-quiz:hover {
  text-decoration: underline;
}

.honey-bubble {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 18px;
  background: linear-gradient(
    135deg,
    #facc15,
    #fbbf24,
    #f97316
  );
  border-radius: 18px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

.honey-bubble p {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  color: var(--bg-main);
}

.honey-bubble::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -14px;
  transform: translateY(-50%);

  border-width: 8px 0 8px 14px;
  border-style: solid;
  border-color: transparent transparent transparent #f59e0b;

  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.cta-moldura {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; 
}

.quiz-btn {
  text-transform: uppercase;
  font-weight: 600;
  width: 50%;
}